*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.left,.right{
    float: left;

    height: 70vh;

    border:1px solid black;
}

.left{
    width: 20%;

    background-color: white;
}

.right{
    width: 80%;

    background-image: url(../img/sfondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



